@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    The goal of the game is to build the most impressive jewel trade and become the best-known merchant in the world. The player with the most prestige points wins the game.<br />
    Splendor is an addictive strategy turn-based card game, where players assume the role of wealthy Renaissance merchants, exploiting mines and caravans, hiring craftsmen and leveraging their influence with the nobility. The goal is to get the biggest gem network and become the most influential merchant.<br />
    The youngest player begins. Play then proceeds clockwise. On their turn, a player must choose to perform only one of the following four actions. <br />
    <ul>
        <li>Take 3 gem tokens of different colors.</li>
        <li>Take 2 gem tokens of the same color. This action is only possible if there are at least 4 tokens of the chosen color left when the player takes them.</li>
        <li>Reserve 1 development card and take 1 gold token (joker).</li>
        <li>Purchase 1 face-up development card from the middle of the table or a previously reserved one.</li>
    </ul>
    When a player reaches 15 prestige points, complete the current round so that each player has played the same number of turns.<br />
    The player who then has the highest number of prestige points is declared the winner (don’t forget to count your nobles). In case of a tie, the player who has purchased the fewest development cards wins.<br />
    <a href="http://www.spacecowboys.fr/splendor/details" class="btn">Splendor</a>
</p>
